version: '2.1'
services:
  eureka-server:
    container_name: eureka-server
    image: eureka-server:latest
    ports:
      - 8761:8761
    networks: 
      - spring-cloud-network
  config-server:
    container_name: config-server
    image: config-server:latest
    expose:
      - 8888
    networks: 
      - spring-cloud-network
  service-a:
    container_name: micro-a
    image: microservice-a:latest
    ports: 
      - 8081:8081
    networks:
      - spring-cloud-network
    environment:
      - "SPRING_PROFILES_ACTIVE=prod"
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
  service-b:
    container_name: micro-b
    image: microservice-b:latest
    ports: 
      - 8082:8082
    networks:
      - spring-cloud-network
    environment:
      - "SPRING_PROFILES_ACTIVE=prod"
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
networks: 
  spring-cloud-network:
    driver: bridge